{% extends "backoffice/base.html" %}
{% load static %}
{% load vstatic %}

{% block bo_content %}
<div class="bo-section-header">
  <h2 class="bo-section-title">Search Terms</h2>
</div>

<form class="bo-add-form bo-add-form--inline" id="st-add-form" autocomplete="off">
  <input class="bo-input bo-input--wide" id="st-input" name="word" placeholder="New search term… (press Enter to add)" required aria-label="New search term">
  <button type="submit" class="bo-btn">Add</button>
</form>

<div class="bo-toolbar">
  <span class="bo-count" id="st-count"></span>
  <div class="bo-pagination" id="st-pagination-top"></div>
</div>
<div class="table-responsive">
  <table class="bo-table" id="st-table">
    <caption class="sr-only">Search terms</caption>
    <thead>
      <tr>
        <th scope="col">Term</th>
        <th scope="col">Last check</th>
        <th scope="col"><span class="sr-only">Actions</span></th>
      </tr>
    </thead>
    <tbody id="st-tbody">
      <tr><td colspan="3" class="bo-empty">Loading…</td></tr>
    </tbody>
  </table>
</div>
<div class="bo-pagination bo-pagination--bottom" id="st-pagination-bottom"></div>
{% endblock bo_content %}

{% block extra_scripts %}
{{ block.super }}
<script src="{% vstatic 'backoffice/js/crud.js' %}"></script>
<script src="{% vstatic 'backoffice/js/search_terms.js' %}"></script>
{% endblock extra_scripts %}
